extends layout

block content
  h1 API Basejump: Timestamp Microservice
  h2 Free Code Camp: Back-End Development Project
  p.red Example usage:
  code localhost:3000/March 13, 2017
  br
  code localhost:3000/1489377600
  p.red Expected Output is JSON:
  code { "unix": 1489363200, "natural": March 13, 2017 }
